@media only screen and (min-width: 640px) {

}

#active {

}

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(105, 105, 105);
    height: 5vh;
    width: 100vw;
}

nav>ul>li {
    display: inline;
    padding: 18px;
    border: 2px;
    text-align: center;
}

nav>ul>li>a {
    color: white;
}