@media only screen and (min-width: 640px) {
    body {
        margin: 0;
        padding: 0;
    }
}

#banner {
    display: inline;
    width: 100vw;
    height: 10vw;
}

#active {

}

nav>ul {
    list-style-type: none;
    background-color: rgb(105, 105, 105);
    height: 5vh;
    width: 100vw;
    overflow: hidden;
}

nav>ul>li {
    display: inline-block;
    padding: 14px 16px;
    border: 2px;
    text-align: center;
}

nav>ul>li>a {
    color: white;
    text-decoration: none;
}

nav>ul>li:hover {
    color: black;
}

nav>ul>li>a:hover {
    color: red;
}