.grid-container {
    display: grid;
    width: 100vw;
    height: 70vh;
    justify-content: space-around;
    grid-template-columns: repeat(8, 5fr) ;
    grid-template-rows: repeat(4, 1fr);

    gap: 10px;
}

.item1 {
    grid-column: span 8;
    text-align: center;
    border: 3px solid black;
}

.item2 {
    border: 3px solid black;
    grid-column: 1 / 4;
    grid-row: span 4;
}

.item3 {
    grid-column: span 4;
    grid-row: span 4;
    border: 3px solid black;
}